{% extends "base.html" %}
{% load wagtailimages_tags %}
{% block content %}
    {% image page.banner_background_image original as bg_img %}

    <section class="hero" style="background-image: url('{{bg_img.url}}');">
       <div class="hero-overlay"></div> 
       <div class="hero-content container text-white">
           <h1 class="display-4 fw-bold">{{page.title}}</h1>
           {% if page.lead_text %}
               <p>{{page.lead_text}}</p>
           {% endif %}

           {% if page.button %}
               <a href="{{page.button.url}}">{{page.button_text}}</a>
           {% endif %}
       </div>
    </section>



{% endblock content %}
