anyascii==0.3.3
asgiref==3.9.1
beautifulsoup4==4.13.4
black==25.1.0
certifi==2025.8.3
charset-normalizer==3.4.2
click==8.2.1
defusedxml==0.7.1
Django==5.2.5
django-debug-toolbar==6.0.0
django-environ==0.12.0
django-extensions==4.1
django-filter==25.1
django-modelcluster==6.4
django-permissionedforms==0.1
django-stubs-ext==5.2.2
django-taggit==6.1.0
django-tasks==0.8.1
django-treebeard==4.7.1
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
draftjs_exporter==5.1.0
et_xmlfile==2.0.0
filetype==1.2.0
idna==3.10
jedi==0.19.2
laces==0.1.2
mypy_extensions==1.1.0
openpyxl==3.1.5
packaging==25.0
parso==0.8.4
pathspec==0.12.1
pillow==11.3.0
pillow_heif==1.1.0
platformdirs==4.3.8
pudb==2025.1
Pygments==2.19.2
requests==2.32.4
sentry-sdk[django]
soupsieve==2.7
sqlparse==0.5.3
stripe-12.4.0
telepath==0.3.1
typing_extensions==4.14.1
urllib3==2.5.0
urwid==3.0.2
urwid_readline==0.15.1
wagtail==7.1
wagtail-modeladmin==2.2.0
wagtail-table-block==2.0.0
wcwidth==0.2.13
Willow==1.11.0