{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags widget_tweaks %}

{% block content %}
<section class="py-5">
    <div class="container">
        {% comment %} intro {% endcomment %}
        <div class="row mb-4">
            <h1 class="mb3">{{page.title}}</h1>
            <p class="lead">
                {{page.intro|richtext}}
            </p>
        </div>

        <div class="row g-5">
        {% comment %} form {% endcomment %}
            <div class="col-lg-6">
                <div class="card shadow border-0">
                    <div class="card-body p-4">
                        <h2 class="h4 mb-4">Get in touch</h2>
                        <form action="{% pageurl page %}" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="mb-3">

                                {% if field|widget_type == "text-area" %}
                                <label for="{{field.id_for_label}}" class="form-label">
                                    {{field.label}}
                                    {% if field.field.required %}
                                    <span class="text-danger">*</span>
                                    {% endif %}
                                </label>
                                {% render_field field class+="form-control" rows="6" placeholder=field.label %}
                                {% else %}
                                    {% if field.label %}
                                        <label for="{{field.id_for_label}}" class="form-label">
                                        {{field.label}}
                                        {% if field.field.required %}
                                            <span class="text-danger">*</span>
                                        {% endif %}
                                        </label>   
                                    {% endif %}
                                     {% render_field field class+="form-control" rows="6" placeholder=field.label %}
                                {% endif %}

                                {% if field.help_text %}
                                    <div class="form-text text-muted">
                                        {{field.help_text|safe}}
                                    </div>
                                {% endif %}

                               {% if field.errors %}
                                    <div class="text-danger small mt-1">
                                        {% for err in field.errors %}
                                            {{err|escape}}
                                            {% if not forloop.last %}<br>{% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            {% endfor %}

                            <button type="submit" class="btn btn-primary w-100"> Send Message </button>
                        </form>
                    </div>
                </div>
            </div>

            {% comment %} Map {% endcomment %}
             <div class="col-lg-6">
                <div class="mb-4">
                    {% if page.map_image %}
                        {% image page.map_image fill-580x335 as img %}
                        <img src="{{img.url}}" alt="img.alt" c1lass="img-fluid rounded shadow-sm">
                    {% endif %}
                </div>
                {% if page.map_url %}
                    <p>
                        <a href="{{page.map_url}}" target="_blank" class="btn btn-outline-primary">
                            View on Google Maps
                        </a>
                    </p>
                {% endif %}
             </div>
        </div>
    </div>
</section>
{% endblock content %}