{% load static menu_tags wagtailcore_tags cache %}
{% get_menu "header" as navigation %}

<footer class="bg-dark text-white text-center py-4 mt-auto">
    <div class="container">
        <div class="row text-center text-md-start">

            {% comment %} Copyright column 1 {% endcomment %}
            <div class="col-12 col-md-3 mb-3 mb-md-0">
                <p class="mb-0">&copy;{% now "Y" %} Altura Solutions</p>
            </div>

            {% comment %} navigation {% endcomment %}
            <div class="col-12 col-md-3 mb-3 mb-md-0">
                <h6 class="text-uppercase fw-bold">Links</h6>
                <ul class="nav flex-column">
                    {% cache 2592000 site_footer %}
                    {% for item in navigation.menu_items.all %}
                    <li class="nav-item">
                        <a href="{{item.link}}" class="nav-link px-0 text-white" {% if item.open_new_tab %}target="_blank"{% endif %}>
                            {{item.title}}
                        </a>
                    </li>
                    {% endfor %}
                    {% endcache %}
                </ul>
            </div>
            
            {% comment %} Contact {% endcomment %}
            <div class="col-12 col-md-3 mb-3 mb-md-0">
                <h6 class="text-uppercase fw-bold">Contact Us</h6>
                <div>
                    
                    {{settings.site_settings.ContactSettings.contact|richtext}}
                </div>
            </div>            
            
            {% comment %} socila media {% endcomment %}

            {% cache 2592000 footer_social_settings %}
            <div class="col-12 col-md-3 mb-3 mb-md-0">
                <h6 class="text-uppercase fw-bold">Follow Us</h6>

                <div class="d-flex justify-content-center justify-content-md-start">
                   
                    {% if settings.site_settings.SocialMediaSettings.facebook %}
                    <a href="{{settings.site_settings.SocialMediaSettings.facebook}}" class="text-white me-3 fs-4" target="_blank"><i class="bi bi-facebook"></i></a>
                    {% endif %}
                    
                    {% if settings.site_settings.SocialMediaSettings.x %}
                    <a href="{{settings.site_settings.SocialMediaSettings.x}}" class="text-white me-3 fs-4" target="_blank"><i class="bi bi-twitter"></i></a>
                    {% endif %}
                    
                    {% if settings.site_settings.SocialMediaSettings.youtube %}
                    <a href="{{settings.site_settings.SocialMediaSettings.youtube}}" class="text-white me-3 fs-4" target="_blank"><i class="bi bi-youtube"></i></a>
                    {% endif %}
                    
                    {% if settings.site_settings.SocialMediaSettings.instagram %}
                    <a href="{{settings.site_settings.SocialMediaSettings.instagram}}" class="text-white me-3 fs-4" target="_blank"><i class="bi bi-instagram"></i></a>
                    {% endif %}
                </div>
            </div>
            {% endcache %}
        </div>
    </div>
</footer> 
