        {% load static menu_tags %}
        {% get_menu "header" as navigation %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a href="#" class="navbar-brand">Altura Solutions</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        {% for item in navigation.menu_items.all %}
                        <li class="nav-item">
                            <a href="{{item.link}}" class="nav-link" {% if item.open_new_tab %}target="_blank"{% endif %}>
                                {{item.title}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>