{% extends 'base.html' %}
{% load wagtailimages_tags cache %}

{% block content %}
<section class="services-listing py-5">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="fw-bold text-primary">{{page.title}}</h2>
            {% if page.subtitle %}
                <p class="text-muted">{{page.subtitle}}</p>
            {% endif %}
        </div>
        
        <div class="row g-4">
            {% cache 2592000 services %}
            {% for card in services %}
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border-0">
                    <div class="card-body text-center">
                        <a href="{{card.url}}" class="">
                            <picture>
                                {% image card.service_image fill-450x300 as card_img %}
                                <img src="{{card_img.url}}" alt="{{card_img.alt}}" class="img-fluid rounded shadow-sm">
                            </picture>
                        </a>
                        <h5 class="card-title fw-bold">{{card.title}}</h5>
                        {% if card.description %}
                            <p class="card-text text-muted">
                                {{card.description}}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endcache %}
        </div>
    </div>
</section>

{% endblock content %}